/* VARIÁVEIS */
:root{
    --user-image-size: 186px;

}

/*BODY*/
body{
    background-color: #00002e;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFF;
}

/* CABEÇALHO */
.topo {
    width: 100vw;
    height: 70px;
    background-color: #00002e;
    position: fixed;
    top: 0;
    left: 0;
}
.topo__figure {
    width: 200px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.topo__image {
    width: 100%;
}
.topo__image-description {
    display: none;
}

/*PÁGINA INICIAL*/
div.pg-home{
    margin: 100px 0;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__header {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 50px;
}
.section__title {}

/* LISTA DE USUÁRIOS */
.user-list {
    max-width: 858px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* USUÁRIO */
.user-list__user {
    text-align: center;
    height: 186px;
    width: 186px;
    margin: 20px;
    cursor: pointer;
}
.user-list__figure {
    width: var(--user-image-size);
}
.user-list__image {
    width: 100%;
}
.user-list__image-description {
    display: none;
}
.user-list__username {
    margin-top: 5px;
    font-weight: bold;
    color: rgb(201, 201, 201);
}

/* ADICIONAR PERFIL */
.user-list__user--add-profile {
    display: flex;
    flex-direction: column;
}
.user-list__figure--add-profile {
    position: relative;
    flex: 9;
}
.user-list__image--add-profile {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-list__image-description-add-profile {}
.user-list__username--add-profile {
    flex: 1;
}

/* FOOTER */
.footer {}
.footer__button {
    color: #FFF;
    background-color: transparent;
    outline: none;
    border: 1px solid #FFF;
    padding: 15px 30px;
}
	


