/* VARIÁVEIS */
:root{
    --user-image-size: 186px;

}

/*BODY*/
body{
    background-color: #00002e;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFF;
}

/* CABEÇALHO */
.topo {
    /* position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
}
.topo__figure {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.topo__image {
    /* position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
}
.topo__image-description {
    display: none;
}

/*PÁGINA INICIAL*/
div.pg-home{
    margin-top: 100px;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__header {}
.section__title {}

/* LISTA DE USUÁRIOS */
.user-list {
    max-width: 858px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* USUÁRIO */
.user-list__user {text-align: center;}
.user-list__figure {
    width: var(--user-image-size);
}
.user-list__image {
    width: 100%;
}
.user-list__image-description {
    display: none;
}
.user-list__username {}

/* ADICIONAR PERFIL */
.user-list__user--add-profile {}
.user-list__figure--add-profile {
    width: var(--user-image-size);
    text-align: center;
    position: relative;
}
.user-list__image--add-profile {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-list__image-description-add-profile {}
.user-list__username--add-profile {}

/* FOOTER */
.footer {}
.footer__button {
    color: #FFF;
    background-color: transparent;
    outline: none;
    border: 1px solid #FFF;
    padding: 15px 30px;
}
	


