/* VARIABLES */
:root {}

/* FROM THE OLD CSS */

.header__image,
.highlighted__image,
.catalog__image,
.socials__image,
img {
    max-width: 800px;
}

.header__flex,
.catalog__flex,
.footer__flex {
    display: flex;
}

.header__container,
.highlighted__container,
.catalog__container,
.footer__container { 
    width: 100%;
    max-width: 1140px;
    margin:0 auto;
}

/* DOCUMENT */
body {}

/* HEADER */
.header {}
.header__container {}
.header__flex {}
.header__flex-column {}
.header__logo {}
.header__figure {}
.header__image {}
.header__figcaption {}

.header__flex-column {}
.header__nav {}
.header__mobile-menu {}
.header__menu-list {}
.menu__list-item {}
.menu__list-item--active {}
.menu__link {}

.header__flex-column {}
.header__menu-user {}
.menu-user__search {}
.menu-user__user-icon {}

/* HOMEPAGE */
.homepage {}

.highlighted {}
.highlighted__container {}
.highlighted__content {}
.highlighted__figure {}
.highlighted__image {}
.highlighted__figcaption {}
.highlighted__paragraph {}
.highlighted__button-container {}
.highlighted__button {}
.highlighted__button--watch {}
.highlighted__button--information {}

/* CATALOG */
.catalog {}
.catalog__container {}
.catalog__title {}
.catalog__flex {}
.catalog__flex-column {}
.catalog__link {}
.catalog__figure {}
.catalog__image {}
.catalog__figcaption {}

/* FOOTER */
.footer {}
.footer__container {}
.footer__flex {}
.footer__flex-column {}
.footer__nav {}
.footer__nav-list {}
.nav-list__list-item {}
.nav-list__link {}

.footer__flex-column {}
.footer__socials {}
.socials__list-item {}
.socials__link {}
.socials__image {}

.footer__copyright {}
.copyright__paragraph {}